* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* game board table */
body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: stretch;
  height: 100vh;
  background-color: #0d1520;
  font-family: "Montserrat";
  color: whitesmoke;
}

h1 {
  font-size: 8em;
  color: whitesmoke;
  text-shadow: 2px 2px 2px #99dbb4;
}

#header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 0.5em 1em;
}

button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  border-radius: 30px;
  padding: 0.5em;
  margin: 0.4em;
  font-size: 1em;
  font-weight: 700;
  outline: none;
  border: none;
  padding: 20px 40px;
  color: whitesmoke;
  background: linear-gradient(to bottom right, #b0db7d 40%, #99dbb4 100%);
  box-shadow: 1px 1px 1.2px whitesmoke;
}

#game {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 2em;
  /* background-color: white    ; */
}

#board {
  position: absolute;
  background-color: whitesmoke;
  padding: 1em 1em 1em 1em;
  border-radius: 50px 50px 50px 50px;
}

#board td {
  border: solid 1px #707583;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #0d1520;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  /* position: absolute; */
  background: linear-gradient(to bottom right, #faa52f 40%, #A47306 100%);
  border-radius: 100%;
  width: 78px;
  height: 78px;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */
.p2 {
  background:linear-gradient(to bottom right, #5AABEF 5%, #274690 70%);
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px #707583;
}

#column-top td:hover {
  border-radius: 50%;
  border: none;
}

.drop {
	animation-name: fall-animation;
	animation-duration: 1500ms;
}

@keyframes fall-animation {
	from {
		transform: translateY(-400px);
	}
	to {
		transform: translateY(0);
	}
}
